<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Quiz</title>

    <!--Custom CSS-->
    <link href="../../style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

    <style>
        .side-nav {
            border: 1px solid black;
            border-radius: 3px;
            width: max-content;
            background-color: rgba(238, 239, 240, 0.85);
            padding: 3px;
        }

        .side-nav:hover {
            background-color: rgba(248, 249, 250, 0.85);
            cursor: pointer;
        }

        #display {
            display: flex;
            flex-direction: row;
        }

        #q_and_a {
            display: flex;
            flex-direction: column;
            padding-right: 0;
        }

        #answer_display {
            display: flex;
            flex-direction: column;
        }

        #score {
            text-align: center;
            width: 10%;
        }

        .red {
            background-color: red !important;
        }

        .green {
            background-color: green !important;
        }

        #app {
            background-color: rgba(228, 229, 230, 0.85);
            padding: 2%;
            height: 100%;
        }

        .tab {
            padding-left: 20px;
        }

        #score {
            padding-right: 60px;
        }

        .radio_group {
            display: flex;
            align-items: center;
            border: 1px solid grey;
            border-radius: 3px;
        }

        .answer_radio {
            margin: 0 5px;
        }

        .answer_text {
            margin: 0;
        }

        #screen {
            height: 90vh;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home<span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../unit-converter/unit-converter.html">Unit Converter</a>
                        <a class="dropdown-item"
                            href="./random-password-generator/random-password-generator.html">Random Password
                            Generator</a>
                        <a class="dropdown-item" href="../number-to-phrase/number-to-phrase.html">Number To Phrase</a>
                        <a class="dropdown-item" href="../grading/grading.html">Grading</a>

                        <a class="dropdown-item" href="../to-do-list/to-do-list.html">To-Do List</a>
                        <a class="dropdown-item" href="../rotN/rotN.html">rotN Encryption</a>
                        <a class="dropdown-item" href="../axios-ajax-cats/cats.html">Axios/Ajax/Vue Demo</a>
                        <a class="dropdown-item" href="../weather/weather.html">Weather</a>
                        <a class="dropdown-item" href="./quiz.html">Quiz</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="screen">
        <div id="app">
            <div v-if="!game_started">
                <button class="btn btn-primary" v-on:click="changeGameType">Change Game Type</button>
                <div v-if="!wwtbam_sim">
                    <div class="form-group">
                        <label for="num_questions"><b>Mode: </b>Manual</label>
                        <input type="number" class="form-control" id="num_questions" placeholder="Questions"
                            v-model="num_questions" />
                    </div>
                    <div class="form-group">
                        <label for="categories">Categories</label>
                        <select class="form-control" id="categories" v-model="category">
                            <option value="">Any Category</option>
                            <option value="9">General Knowledge</option>
                            <option value="10">Entertainment: Books</option>
                            <option value="11">Entertainment: Film</option>
                            <option value="12">Entertainment: Music</option>
                            <option value="13">Entertainment: Musicals &amp; Theatres</option>
                            <option value="14">Entertainment: Television</option>
                            <option value="15">Entertainment: Video Games</option>
                            <option value="16">Entertainment: Board Games</option>
                            <option value="17">Science &amp; Nature</option>
                            <option value="18">Science: Computers</option>
                            <option value="19">Science: Mathematics</option>
                            <option value="20">Mythology</option>
                            <option value="21">Sports</option>
                            <option value="22">Geography</option>
                            <option value="23">History</option>
                            <option value="24">Politics</option>
                            <option value="25">Art</option>
                            <option value="26">Celebrities</option>
                            <option value="27">Animals</option>
                            <option value="28">Vehicles</option>
                            <option value="29">Entertainment: Comics</option>
                            <option value="30">Science: Gadgets</option>
                            <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
                            <option value="32">Entertainment: Cartoon &amp; Animations</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="trivia_difficulty">Select Difficulty: </label>
                        <select id="trivia_difficulty" class="form-control" v-model="difficulty">
                            <option value="">Any Difficulty</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                </div>
                <div v-if="wwtbam_sim">
                    <span><b>Who Wants To Be A Millionaire! (coming soon!)</b></span>
                </div>
                <button class="btn btn-primary" v-on:click="startGame">Start Game</button>
            </div>
            <div id="display" v-if="game_started && !review">
                <div>
                    <ul class="nav flex-column">
                        <li class="nav-item side-nav" v-for="(question, index) in questions"
                            v-on:click="changeQuestion(index)" v-bind:id="'side_nav' + index">
                            <div>Question {{index+1}}</div>
                        </li>
                    </ul>
                </div>
                <div class="container" id="q_and_a">
                    <div class="container" id="question">
                        <span v-html="questions[current_question_index].question"></span>
                    </div>
                    <div class="container" id="answer_display">
                        <div class="radio_group"
                            v-for="(question, index) in questions[current_question_index].arr_answers">
                            <input class="answer_radio" type="radio"
                                :disabled="questions[current_question_index].answered" v-bind:id="'answer'+index"
                                v-bind:value="question" v-model="selected_answer">
                            <label class="answer_text" v-bind:for="'answer1'+index" v-html="question"></label>
                        </div>
                        <button class="btn btn-primary" id="button_submit" v-on:click="checkAnswer()">Submit</button>
                    </div>
                </div>
                <span class="container" id="score">Score: {{score}}</span>
            </div>
            <div id="review_screen" v-if="review">
                <div class="container review_block" v-for="(question, index) in questions">
                    <div><b>Question {{index+1}}: </b><span v-html="question.question"></span></div>
                    <div><b class="tab">Your Anwswer: </b><span v-html="question.selected_answer"></span></div>
                    <div><b class="tab">Correct Answer: </b><span v-html="question.answer"></span></div>
                </div>
                <button class="btn btn-primary" v-on:click="reset">Restart</button>
            </div>
        </div>
    </div>

    <script>
        function randChoice(arr) {
            if (arr.length != 0) {
                return arr[Math.floor(Math.random() * arr.length)]
            }
            return null
        }
        //test code for randChoice
        // for (let i = 0; i < 5; ++i) {
        //     console.log(randChoice(["a", "b", "c"]))
        // }
        function shuffle(arr) {
            let ctr = arr.length;
            let temp;
            let index;
            while (ctr > 0) {
                index = Math.floor(Math.random() * ctr)
                ctr--
                temp = arr[ctr]
                arr[ctr] = arr[index]
                arr[index] = temp
            }
            return arr;
        }
        // const myArray = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
        // console.log(shuffle(myArray));

        let app = new Vue({
            el: "#app",
            data: {
                game_started: false,
                wwtbam_sim: false,
                review: false,
                num_questions: "",
                category: "",
                difficulty: "",
                questions: [],
                current_question_index: 0,
                selected_answer: "",
                score: 0,
            },
            created: function () {

            },
            methods: {
                changeGameType: function () {
                    if (this.wwtbam_sim) {
                        this.wwtbam_sim = false
                        return
                    }
                    this.wwtbam_sim = true
                },
                changeQuestion: function (index) {
                    this.current_question_index = index
                },
                startGame: function () {
                    if (this.num_questions == "") {
                        this.num_questions = 10
                    }
                    axios({
                        method: "get",
                        url: 'https://opentdb.com/api.php',
                        params: {
                            amount: this.num_questions,
                            category: this.category,
                            difficulty: this.difficulty,
                            type: "multiple"
                        },
                    }).then((response) => {
                        console.log(response.data)
                        console.log(response)
                        if (response.data.response_code == 0) {
                            let results = response.data.results
                            for (let i = 0; i < results.length; ++i) {
                                let tmp_question = {
                                    category: results[i].category,
                                    difficulty: results[i].difficulty,
                                    question: results[i].question,
                                    answer: results[i].correct_answer,
                                    wrong_answers: [],
                                    arr_answers: [],
                                    answered: false,
                                    selected_answer: "",
                                    answered: false,
                                }
                                let incorrect_answers = results[i].incorrect_answers
                                for (let r = 0; r < incorrect_answers.length; ++r) {
                                    tmp_question.wrong_answers.push(incorrect_answers[r])
                                }
                                tmp_question.arr_answers = tmp_question.wrong_answers.slice()
                                tmp_question.arr_answers.push(tmp_question.answer)
                                tmp_question.arr_answers = shuffle(tmp_question.arr_answers)
                                console.log(tmp_question)
                                this.questions.push(tmp_question)
                            }
                            this.game_started = true
                        }
                    })
                },
                checkAnswer: function () {
                    this.questions[this.current_question_index].selected_answer = this.selected_answer
                    this.questions[this.current_question_index].answered = true
                    if (this.selected_answer === this.questions[this.current_question_index].answer) {
                        //modal with celebration picture
                        //make side-nav button green
                        this.score += 100
                        $(`#side_nav${this.current_question_index}`).addClass("green")
                        alert("Correct!")
                    } else {
                        //modal with disappointed picture
                        //make side-nave button red
                        $(`#side_nav${this.current_question_index}`).addClass("red")
                        alert("Incorrect!")
                    }
                    if (this.current_question_index != this.num_questions - 1) {
                        this.current_question_index += 1
                    }
                    this.gameOver()
                },
                gameOver: function () {
                    for (let i = 0; i < this.questions.length; ++i) {
                        if (!this.questions[i].answered) {
                            return
                        }
                    }
                    alert("You win! Your total score is: " + this.score)
                    this.review = true
                },
                reset: function () {
                    this.questions = []
                    this.current_question_index = 0
                    this.selected_answer = ""
                    this.score = 0
                    this.category = "any"
                    this.difficulty = "any"
                    this.num_questions = ""
                    this.game_started = false
                    this.wwtbam_sim = false
                    this.review = false
                }
            }
        })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>